span{

    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: red;
    border-width: 20px;
    color: #fff;
    font-weight: bolder;
}
h1{
    background: #fff;
}
body{
    background: #000;
}